*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
background-color: red;
width: 100%;
padding: 0.1rem;
justify-content: space-between;
align-items: center;
text-align: right;
}
.navBar{
    display: flex;
    list-style: none;
    gap: 2.5rem;
    align-items: center;
    text-align: right;
}
.navBar li a {
color: white;
text-decoration: none;
}
.navBar li img {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
}
.nombreL{
    text-decoration: solid;
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
    font-size: 4rem;
}
.divN{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
}
.imgL{
    border-image: none;
}
.formuLari{
    font-size: 2rem;
}
.buttoN{
    background-color: black;
    height: 2rem;
    width: 10rem;
    text-align: center;
    margin-top: 2rem;
}
.buttoN a{
    color: white;
    text-align: center;
    text-decoration: none;
}
.imgF a img{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    align-items: center;
}
footer{
    width: 100%;
    text-align: right;
    padding: 0.5rem;
    justify-content: space-between;
}
.mainComp{
    font-size: 1rem;
}
.buttoNa{
    background-color: rgb(255, 0, 0);
    height: 2rem;
    width: 10rem;
    text-align: center;
}
.buttoNa a{
    color: white;
    text-align: center;
    text-decoration: none;
}
.comprasBl{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    background-color: rgb(219, 213, 203);
    height: 4rem;
    text-align: center;
}
.griS{
    background-color: red;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.imgmainStock img{
    width: 20rem;
    height: 20rem;
}
.oferTas{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    background-color: rgb(219, 213, 203);
    height: 4rem;
    text-align: center;
    font-size: 2rem;
}
.contacTan{
    margin-left: 15rem;
    margin-right: 15rem;
    margin-bottom: 1rem;
    background-color: rgb(197, 34, 34);
    height: 14rem;
    text-align: center;
    color: white;
}
.contacTan img{
    margin-top: 4rem ;
    height: 4rem;
    width: 4rem;
}

.grid-container{
    display: grid;
    width: 100%;
    height:100vh;
    grid-template-columns:;
    grid-template-rows: ;
    grid-template-areas: ;
}

@media (max-width: 1024px){
    header{
        background-color: red;
        width: 100%;
        padding: 0.1rem;
        justify-content: space-between;
        align-items: left;
        text-align: right;
        }
    .navBar{
        display: flex;
        list-style: none;
        gap: 3rem;
        align-items: left;
        text-align: right;
    }
    .navBar li a {
    color: white;
    text-decoration: none;
    }
    .navBar li img {
        border-radius: 50%;
        width: 3.5rem;
        height: 3.5rem;
    }
}
@media (max-width: 768px){
    header{
        background-color: red;
        width: 100%;
        padding: 0.1rem;
        justify-content: space-between;
        align-items: left;
        text-align: right;
        }
    .navBar{
        display: flex;
        list-style: none;
        gap: 1rem;
        align-items: left;
        text-align: right;
    }
    .navBar li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    }
    .navBar li img {
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
    }
}
@media (max-width: 425px){
    header{
        background-color: red;
        width: 100%;
        padding: 0.1rem;
        justify-content: space-between;
        align-items: left;
        text-align: right;
        }
    .navBar{
        display: flex;
        list-style: none;
        gap: 0.60rem;
        align-items: left;
        text-align: right;
    }
    .navBar li a {
    color: white;
    text-decoration: none;
    font-size: 11px;
    }
    .navBar li img {
        border-radius: 50%;
        width: 2.5rem;
        height: 2,5rem;
    }
}
@media (max-width: 320px){
    header{
        background-color: red;
        width: 100%;
        padding: 0.1rem;
        justify-content: space-between;
        align-items: left;
        text-align: right;
        }
    .navBar{
        display: flex;
        list-style: none;
        gap: 0.60rem;
        align-items: left;
        text-align: right;
    }
    .navBar li a {
    color: white;
    text-decoration: none;
    font-size: 11px;
    }
    .navBar li img {
        border-radius: 50%;
        width: 2.5rem;
        height: 2,5rem;
    }
}