.grid-container {
  display: grid;
  grid-template-columns: 50% 3/4;
  grid-template-areas: "item1 item2" "item1 item2";
}

.grid-container2 {
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  grid-template-areas: "area1 area2";
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.gridi1 {
  grid-area: area1;
  margin-left: 10px;
}

.gridi2 {
  grid-area: area2;
  margin-left: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nombreL {
  text-decoration: solid;
  text-align: left;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: red;
  font-size: 4rem;
  margin-top: 20px;
  margin-left: 30px;
}

.divN {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 30px;
}

.navBar {
  display: flex;
  list-style: none;
  gap: 2.5rem;
  align-items: center;
  text-align: right;
}
.navBar li a {
  color: white;
  text-decoration: none;
}
.navBar li img {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 40px;
  color: white;
  text-align: right;
}

.imgF a img {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  align-items: center;
}

header {
  background-color: red;
  width: 100%;
  padding: 0.1rem;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}

.buttoNa {
  background-color: rgb(255, 0, 0);
  height: 2rem;
  width: 10rem;
  text-align: center;
  margin-left: 10px;
}
.buttoNa a {
  color: white;
  text-align: center;
  text-decoration: none;
}

.buttoN {
  background-color: black;
  height: 30px;
  width: 200px;
  text-align: center;
  margin-left: 30px;
}
.buttoN a {
  color: white;
  text-align: center;
  text-decoration: none;
  padding-top: 1rem;
  margin-top: 2rem;
  font-size: 20px;
}

.griS {
  background-color: red;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.comprasBl {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  background-color: rgb(219, 213, 203);
  height: 4rem;
  text-align: center;
}

.contacTan {
  margin-left: 15rem;
  margin-right: 15rem;
  margin-bottom: 1rem;
  background-color: rgb(197, 34, 34);
  height: 14rem;
  text-align: center;
  color: white;
}
.contacTan img {
  margin-top: 4rem;
  height: 4rem;
  width: 4rem;
}

.Card img {
  width: 200px;
  height: 200px;
  border: solid black;
  margin-left: 20px;
}
.Card h3 {
  margin-left: 20px;
}
.Card div {
  margin-left: 20px;
}

.oferTas {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  background-color: rgb(219, 213, 203);
  height: 4rem;
  text-align: center;
  font-size: 2rem;
}

.FormuLari {
  font-size: 1rem;
  margin-left: 10px;
}
.FormuLari input {
  margin-top: 5px;
}

.mainComp {
  font-size: 1rem;
}
.mainComp h1 {
  margin-left: 10px;
}

@media (max-width: 1024px) {
  header {
    background-color: red;
    width: 100%;
    padding: 0.1rem;
    justify-content: space-between;
    align-items: left;
    text-align: right;
  }
  .navBar {
    display: flex;
    list-style: none;
    gap: 3rem;
    align-items: left;
    text-align: right;
  }
  .navBar li a {
    color: white;
    text-decoration: none;
  }
  .navBar li img {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
  }
  .nombreL {
    text-decoration: solid;
    text-align: left;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: red;
    font-size: 3rem;
  }
  .divN {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1rem;
  }
  .imgL img {
    border-image: none;
    width: 500px;
    height: 350px;
  }
  .buttoNa {
    background-color: rgb(255, 0, 0);
    height: 2rem;
    width: 7rem;
    text-align: center;
    font-size: 15px;
  }
  .buttoNa a {
    color: white;
    text-align: center;
    text-decoration: none;
  }
  .buttoN {
    background-color: black;
    height: 2rem;
    width: 7rem;
    text-align: center;
    margin-top: 1rem;
  }
  .imgmainStock img {
    width: 15rem;
    height: 15rem;
  }
  .oferTas {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    background-color: rgb(219, 213, 203);
    height: 2rem;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    background-color: rgb(219, 213, 203);
    height: 4rem;
    text-align: center;
    font-size: 1, 5rem;
  }
  .imgF a img {
    border-radius: 75%;
    width: 2rem;
    height: 2rem;
    align-items: center;
  }
  .comprasBl {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    background-color: rgb(219, 213, 203);
    height: 4rem;
    text-align: center;
  }
  .mainComp {
    font-size: 0.7rem;
  }
  .contacTan {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
    background-color: rgb(197, 34, 34);
    height: 7rem;
    text-align: center;
    color: white;
    text-align: center;
  }
  .contacTan img {
    margin-top: 2rem;
    height: 2rem;
    width: 2rem;
  }
}
@media (max-width: 768px) {
  header {
    background-color: red;
    width: 100%;
    padding: 0.1rem;
    justify-content: space-between;
    align-items: left;
    text-align: right;
  }
  .navBar {
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: left;
    text-align: right;
  }
  .navBar li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
  }
  .navBar li img {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
  }
  .nombreL {
    text-decoration: solid;
    text-align: left;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: red;
    font-size: 2rem;
    margin-left: 10px;
  }
  .divN {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 12px;
    margin-left: 10px;
  }
  .imgL img {
    border-image: none;
    width: 300px;
    height: 300px;
  }
  .buttoNa {
    background-color: rgb(255, 0, 0);
    height: 1rem;
    width: 7rem;
    text-align: center;
    font-size: 12px;
  }
  .buttoNa a {
    color: white;
    text-align: center;
    text-decoration: none;
  }
  .buttoN {
    background-color: black;
    height: 1.5rem;
    width: 7rem;
    text-align: center;
    margin-top: 1rem;
    font-size: 15px;
    margin-left: 10px;
  }
  .imgmainStock img {
    width: 12rem;
    height: 12rem;
  }
  .oferTas {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    background-color: rgb(219, 213, 203);
    height: 2rem;
    text-align: center;
    font-size: 1.4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    background-color: rgb(219, 213, 203);
    height: 4rem;
    text-align: center;
    font-size: 1, 5rem;
  }
  .imgF a img {
    border-radius: 75%;
    width: 1rem;
    height: 1rem;
    align-items: center;
  }
  .comprasBl {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    background-color: rgb(219, 213, 203);
    height: 2rem;
    text-align: center;
    font-size: 15px;
  }
  .mainComp {
    font-size: 0.6rem;
  }
  .contacTan {
    margin-left: 7rem;
    margin-right: 7rem;
    margin-bottom: 1rem;
    background-color: rgb(197, 34, 34);
    height: 10rem;
    text-align: center;
    color: white;
  }
  .contacTan img {
    margin-top: 2rem;
    height: 2rem;
    width: 2rem;
  }
}
@media (max-width: 425px) {
  header {
    background-color: red;
    width: 100%;
    padding: 0.1rem;
    justify-content: space-between;
    align-items: left;
    text-align: right;
  }
  .navBar {
    display: flex;
    list-style: none;
    gap: 0.6rem;
    align-items: left;
    text-align: right;
    contain: content;
  }
  .navBar li a {
    color: white;
    text-decoration: none;
    font-size: 11px;
  }
  .navBar li img {
    border-radius: 50%;
    width: 2.5rem;
    height: 2, 5rem;
  }
  .imgL img {
    border-image: none;
    width: 200px;
    height: 200px;
  }
  .Card img {
    width: 150px;
    height: 150px;
  }
  .Card h3 {
    font-size: 15px;
  }
  .buttoN a {
    font-size: 15px;
  }
  .main-404 h1 {
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .main-404 img {
    height: 750px;
    width: 100%;
  }
  .main-404 h2 {
    text-align: center;
    font-size: 10px;
  }
}
@media (max-width: 320px) {
  header {
    background-color: red;
    width: 100%;
    padding: 0.1rem;
    justify-content: space-between;
    align-items: left;
    text-align: right;
  }
  .navBar {
    display: flex;
    list-style: none;
    gap: 0.6rem;
    align-items: left;
    text-align: right;
  }
  .navBar li a {
    color: white;
    text-decoration: none;
    font-size: 9px;
  }
  .navBar li img {
    border-radius: 50%;
    width: 2.5rem;
    height: 2, 5rem;
  }
  .nombreL {
    text-decoration: solid;
    text-align: left;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: red;
    font-size: 25px;
    margin-left: 10px;
  }
  .divN {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 9px;
    margin-left: 10px;
  }
  .buttoN {
    background-color: black;
    height: 1rem;
    width: 5rem;
    text-align: center;
    margin-top: 1rem;
    margin-left: 10px;
  }
  .buttoN a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
  }
  .imgL img {
    border-image: none;
    width: 200px;
    height: 150px;
  }
  .contacTan {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .Card img {
    width: 100px;
    height: 100px;
  }
  .Card h3 {
    font-size: 12px;
  }
  .main-404 h1 {
    text-align: center;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .main-404 img {
    height: 750px;
    width: 100%;
  }
  .main-404 h2 {
    text-align: center;
    font-size: 10px;
  }
}
.main-404 h1 {
  text-align: center;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-404 img {
  height: 650px;
  width: 100%;
}
.main-404 h2 {
  text-align: center;
  font-size: 15px;
}

/*# sourceMappingURL=style.css.map */
