@media (max-width: 320px) {
	header {
		background-color: $background-color_1;
		width: 100%;
		padding: 0.1rem;
		justify-content: space-between;
		align-items: left;
		text-align: right;
	}
	.navBar {
		display: flex;
		list-style: none;
		gap: 0.60rem;
		align-items: left;
		text-align: right;
		li {
			a {
				color: $color_1;
				text-decoration: none;
				font-size: 9px;
			}
			img {
				border-radius: 50%;
				width: 2.5rem;
				height: 2,5rem;
			}
		}
	}
	.nombreL {
		text-decoration: solid;
		text-align: left;
		font-family: $font-family_1;
		color: $color_2;
		font-size: 25px;
		margin-left: 10px;
	}
	.divN {
		font-family: $font-family_2;
		font-size: 9px;
		margin-left: 10px;
	}
	.buttoN {
		background-color: $background-color_2;
		height: 1rem;
		width: 5rem;
		text-align: center;
		margin-top: 1rem;
		margin-left: 10px;
		a {
			color: $color_1;
			text-align: center;
			text-decoration: none;
			font-size: 10px;
		}
	}
	.imgL {
		img {
			border-image: none;
			width: 200px;
			height: 150px;
		}
	}
	.contacTan {
		margin-left: 4rem;
		margin-right: 4rem;
	}
	.Card{
		img{
			width: 100px;
			height: 100px;
		}
		h3{
			font-size: 12px;
		}
	}
	.main-404{
		h1{
			text-align: center;
			font-size: 35px;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
		}
		img{
			height: 750px;
			width: 100%;
		}
		h2{
			text-align: center;
			font-size: 10px;
		}
	}
}
