.main-404{
    h1{
        text-align: center;
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    img{
        height: 650px;
        width: 100%;
    }
    h2{
        text-align: center;
        font-size: 15px;
    }
}