.navBar {
	display: flex;
	list-style: none;
	gap: 2.5rem;
	align-items: center;
	text-align: right;
	li {
		a {
			color: $color_1;
			text-decoration: none;
		}
		img {
			border-radius: 50%;
			width: 3.5rem;
			height: 3.5rem;
		}
	}
}