.contacTan {
	margin-left: 15rem;
	margin-right: 15rem;
	margin-bottom: 1rem;
	background-color: $background-color_5;
	height: 14rem;
	text-align: center;
	color: $color_1;
	img {
		margin-top: 4rem;
		height: 4rem;
		width: 4rem;
	}
}