.nombreL {
	text-decoration: solid;
	text-align: left;
	font-family: $font-family_1;
	color: $color_2;
	font-size: 4rem;
	margin-top: 20px;
	margin-left: 30px;
}
.divN {
	font-family: $font-family_2;
	font-size: 25px;
	margin-top: 20px;
	margin-left: 30px;
}